/* Index */
#header.accueil{
	background: #533c70;
}


input#PMC_searchtopbar.accueil{
	background: #423059;
}

input.accueil::-webkit-input-placeholder {
   color: #805dad;
}

input.accueil:-moz-placeholder { /* Firefox 18- */
   color: #805dad;  
}

input.accueil::-moz-placeholder {  /* Firefox 19+ */
   color: #805dad;  
}

input.accueil:-ms-input-placeholder {  
   color: #805dad;  
}


/* Marvel */
#header.marvel{
	background: #AB0D1A;
}

input#PMC_searchtopbar.marvel{
	background: #820A14;
}

input.marvel::-webkit-input-placeholder {
   color: #FF404D;
}

input.marvel:-moz-placeholder { /* Firefox 18- */
   color: #FF404D;  
}

input.marvel::-moz-placeholder {  /* Firefox 19+ */
   color: #FF404D;  
}

input.marvel:-ms-input-placeholder {  
   color: #FF404D;  
}

/* Star Wars */
#header.starwars{
	background: #111216;
}

input#PMC_searchtopbar.starwars{
	background: #25272c;
   color: #FFE81F;
	}

input.starwars::-webkit-input-placeholder {
	color: #FFE81F;
}

input.starwars:-moz-placeholder { /* Firefox 18- */
   color: #FFE81F;  
}

input.starwars::-moz-placeholder {  /* Firefox 19+ */
   color: #FFE81F;  
}

input.starwars:-ms-input-placeholder {  
   color: #FFE81F;  
}


/* Dc Comics */
#header.dccomics{
	background: #2D4D86;
}

input#PMC_searchtopbar.dccomics{
	background: #233c68;
	}

input.dccomics::-webkit-input-placeholder {
   color: #3f6dbd;
}

input.dccomics:-moz-placeholder { /* Firefox 18- */
   color: #3f6dbd;  
}

input.dccomics::-moz-placeholder {  /* Firefox 19+ */
   color: #3f6dbd;  
}

input.dccomics:-ms-input-placeholder {  
   color: #3f6dbd;  
}