/* Index */
#header.accueil{
	background: #604581;
}


input#PMC_searchtopbar.accueil{
	background: #43315B;
}

input.accueil::-webkit-input-placeholder {
   color: #805dad;
}

input.accueil:-moz-placeholder { /* Firefox 18- */
   color: #805dad;  
}

input.accueil::-moz-placeholder {  /* Firefox 19+ */
   color: #805dad;  
}

input.accueil:-ms-input-placeholder {  
   color: #805dad;  
}


/* Marvel */
#header.marvel{
	background: #BE0F1E;
}

input#PMC_searchtopbar.marvel{
	background: #910B17;
}

input.marvel::-webkit-input-placeholder {
   color: #FF404D;
}

input.marvel:-moz-placeholder { /* Firefox 18- */
   color: #FF404D;  
}

input.marvel::-moz-placeholder {  /* Firefox 19+ */
   color: #FF404D;  
}

input.marvel:-ms-input-placeholder {  
   color: #FF404D;  
}


/* Dc Comics */
#header.dccomics{
	background: #2D447A;
}

input#PMC_searchtopbar.dccomics{
	background: #233c68;
	}

input.dccomics::-webkit-input-placeholder {
   color: #3f6dbd;
}

input.dccomics:-moz-placeholder { /* Firefox 18- */
   color: #3f6dbd;  
}

input.dccomics::-moz-placeholder {  /* Firefox 19+ */
   color: #3f6dbd;  
}

input.dccomics:-ms-input-placeholder {  
   color: #3f6dbd;  
}

/* Star Wars */
#header.starwars{
	background: #1E242A;
}

input#PMC_searchtopbar.starwars{
	background: #394550;
   color: #FFE81F;
	}

input.starwars::-webkit-input-placeholder {
	color: #FFE81F;
}

input.starwars:-moz-placeholder { /* Firefox 18- */
   color: #FFE81F;  
}

input.starwars::-moz-placeholder {  /* Firefox 19+ */
   color: #FFE81F;  
}

input.starwars:-ms-input-placeholder {  
   color: #FFE81F;  
}

/* Disney */
#header.disney{
	background: #57A5DA;
}

input#PMC_searchtopbar.disney{
	background: #3E769C;
	}

input.disney::-webkit-input-placeholder {
	color: #acd7f4;
}

input.disney:-moz-placeholder { /* Firefox 18- */
   color: #acd7f4;  
}

input.disney::-moz-placeholder {  /* Firefox 19+ */
   color: #acd7f4;  
}

input.disney:-ms-input-placeholder {  
   color: #acd7f4;  
}
